<!--Including header-->
<%- include('includes/_header') %>
<!--/Including header-->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between p-3">
            <a href="/" class="border-shadow">
                <span class="btn btn-primary text-gradient"><i class="fa-solid fa-circle-chevron-left"></i> All users</i></span>
            </a>
        </div>
        <div class="text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-dark">Use below form to  create a new account</span>
        </div>

        <!--form Handling-->
        <%- include('includes/_form') %>
        <!--/formm Handling-->
    </div>
</main>
<!--/Main Site-->

<!--Including footer-->
<%- include('includes/_footer') %>
<!--/Including footer-->