<!--Including header-->
<%- include('includes/_header') %>
<!--/Including header-->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between p-3">
            <a href="/" class="border-shadow">
                <span class="btn btn-primary text-gradient"><i class="fa-solid fa-circle-chevron-left"></i> All users</i></span>
            </a>
        </div>
        <div class="text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-dark">Use below form to update an account</span>
        </div>

        <!--form Handling-->
        <form action="/" method="post" class="p-3">
            <div class="form-outline mb-4">
               <label for="Name" class="form-label">Name</label>
               <input type="hidden" class="form-control" name="id" value="">
               <input type="text" class="form-control" name="name" value="" placeholder="Jeewantha Udeshika">
            </div>
            <div class="form-outline mb-4">
                <label for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="" placeholder="example@sample.com">
             </div>
             <div class="form-outline mb-4">
                <label for="gender" class="form-label">Gender &nbsp</label>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="Male">
                    <label class="form-check-label" for="Male">
                      Male
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="Female">
                    <label class="form-check-label" for="Female">
                      Female
                    </label>
                  </div>
             </div>
        
        
             
             <div class="form-outline mb-4">
                <label for="Status" class="form-label">Status &nbsp</label>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="status" value="Active">
                    <label class="form-check-label" for="Active">
                      Active
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="status" value="Inactive">
                    <label class="form-check-label" for="Inactive">
                      Inacive
                    </label>
                  </div>
             </div>
        
             <button type="submit" class="btn btn-primary btn-block">Save</button>
        </form>
        <!--/formm Handling-->
    </div>
</main>
<!--/Main Site-->

<!--Including footer-->
<%- include('includes/_footer') %>
<!--/Including footer-->